// All

html
  text-align: center

li
  list-style: none

.nav__top
  list-style: none
  display: inline-block
  padding: 1rem
  padding-right: 5rem

.heading
  text-align: center

.container
  display: inline-block
  text-align: center
  list-style: none


.image__box
  border-style: solid
  border-width: thin

.image__rp
  display: block
  padding-top: 1rem
  opacity: 1
  color: red
  text-transform: uppercase
  background-color: $rp__orange

.image__shark
  display: block
  padding-top: 1rem
  opacity: 1
  color: red
  text-transform: uppercase
  background-color: $shark__black



.school__logo
  display: inline-block
  text-align: center
  list-style: none
  width: 60%
  height: 60%
